
export(ARIpermCT)
export(SingleStepCT)
export(TDPerm)
export(cluster_threshold)
export(cv)
export(dI)
export(get_array)
export(lambdaOpt)
export(map_TDP)
export(oneSample)
export(plotNullDistribution)
export(rejPerm)
export(rowVariance)
export(discoveriesPerm)
export(signTest)
export(simCE)
export(summary_perm_roi)
importFrom(RNifti,readNifti)
importFrom(RNifti,writeNifti)
importFrom(fastcluster,hclust.vector)
importFrom(grDevices,dev.off)
importFrom(grDevices,png)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(graphics,legend)
importFrom(hommel,discoveries)
importFrom(plyr,laply)
importFrom(sansSouci,gaussianSamples)
importFrom(stats,cutree)
importFrom(stats,pbeta)
importFrom(stats,pnorm)
importFrom(stats,qbeta)
importFrom(grDevices,rainbow)
useDynLib(ARIpermutation) 